*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild

# Project exclude paths
/compoundPicker/build/
/compoundPicker/build/intermediates/javac/debug/classes/
/httpRequest/build/
/httpRequest/build/intermediates/javac/debug/classes/
/picGallary/build/
/picGallary/build/intermediates/javac/debug/classes/